@model ManejadorPresupuesto2.Models.DetalleMovimientoIngreso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DetalleMovimientoIngreso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemCategoria.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncabezadoMovimientoFinanciero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncabezadoMovimientoFinanciero.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMovimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorMovimiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
